@import "_nav&footer";

%fieldStyle{
    padding: 5px 12px;
    font-size: 18px;
    background-color: $mainColor;
    border-radius: 2px;
    border: none;
    color: $thirdColor;
    font-family: $fontFamily;
}

header{
    background-color: black;
    padding-top: 72px;
    margin-bottom: 56px;
    div{
        color: white;
        text-align: center;
        padding: 32px 0;
        font-size: $mainFontSize + 16;
        border-bottom: 8px solid $mainColor;
        font-family: $fontFamily;
    }
}

form{
    background-color: $thirdColor;
    border-bottom: 3px solid $mainColor;
    border-radius: 8px;
    box-shadow: 0 0 8px 8px rgba($color: #000000, $alpha: .2);
    margin: 24px 16%;
    padding: 24px;
    .info{
        display: flex;
        padding: 0 0 24px 0;
        .fullName{
            width: 33%;
            div{
                margin: 8px;
                span{
                    font-weight: bold;
                }
            }

        }
        .birthdayC{
            width: 33%;
            div{
                margin: 8px;
            }
        }
        .city{
            width: 33%;
            div{
                margin: 8px;
            }               
            
        }
    }
    
    Button{
        padding: 5px 12px;
        font-size: $mainFontSize - 4;
        background-color: $mainColor;
        border-radius: 2px;
        border: 2px solid $mainColor;
        color: $thirdColor;
        font-family: $fontFamily;
        &:hover{
            color: $mainColor;
            background-color: $thirdColor;
            border: 2px solid $mainColor;
        }
    }
  
    input{
        font-size: 24px;
        font-family: $navFontFamily;
        border: none ;
        border-bottom: 2px solid $mainColor;
        border-radius:4px ;
        width: 90%;
    }
}
.modification{
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    padding: 200px 0;
    top: 0;
    display: none;

    form{
    }
}
